{% extends "base.html" %}
{% load static %}
{% block title %}{{product.title}}{% endblock title %}
{% block whatsapp %}
<a href="{{information.whatsapp}}" class="whatsapp-button" target="_blank" >
    <img src="{% static 'img/whatsapp-button.png' %}" alt="burak whatsapp">
</a>
{% endblock whatsapp %}
{% block address %} <a href="https://www.google.com/maps/place/{{information.address}}">{{information.address}}</a> {% endblock address %}
{% block email %}<a href="mailto:{{information.email}}"><span class="__cf_email__" data-cfemail="771e19111837040e141f1845435914181a">{{information.email}}</span></a>{% endblock email %}
{% block header-socials %}
<a href="{{information.facebook}}"><i class="fab fa-facebook-f"></i></a>
<a href="{{information.twitter}}"><i class="fab fa-twitter"></i></a>
<a href="{{information.instagram}}"><i class="fab fa-instagram"></i></a>
<a href="{{information.linkedin}}"><i class="fab fa-linkedin"></i></a>
{% endblock header-socials %}
{% block mobile-contact %}
<div class="contact-list mb-30">
    <h4>Contact Info</h4>
    <ul>
        <li><i class="flaticon-history"></i>Sunday to Thursday</li>
        <li><i class="flaticon-pin"></i><a href="https://www.google.com/maps/place/{{information.address}}">{{information.address}}</a></li>
        <li><i class="fal fa-envelope"></i><a href="mailto:{{information.email}}">{{information.email}}</span></a></li>
    </ul>
    <div class="sidebar__menu--social">
        <a href="{{information.facebook}}"><i class="fab fa-facebook-f"></i></a>
        <a href="{{information.twitter}}"><i class="fab fa-twitter"></i></a>
        <a href="{{information.instagram}}"><i class="fab fa-instagram"></i></a>
        <a href="{{information.linkedin}}"><i class="fab fa-linkedin"></i></a>
    </div>
</div>
{% endblock mobile-contact %}
{% block body %}

    <main>
        <div class="icon-bar">
            {% load social_share %}
            {% post_to_facebook object_or_url '<i class="fab fa-facebook-f" aria-hidden="true"></i>' %}

            {% post_to_twitter "Looking to know more about {{product.title}}" object_or_url '<i class="fab fa-twitter" aria-hidden="true"></i>'%}
          
            {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp"></i>'%}
          
            {% post_to_telegram "Looking to know more about {{product.title}}" object_or_url '<i class="fab fa-telegram-plane" aria-hidden="true"></i>'%}                       

        </div>
        <!-- page title area start here -->
        <div class="page-title-area pt-210 pb-180" data-background="{% static 'img/product.png' %}">
            <div class="container">
                <div class="page-title-icon">
                    <i class="flaticon-air-conditioner hero__icon hero__icon1"></i>
                    <i class="flaticon-heating hero__icon hero__icon2"></i>
                    <i class="flaticon-vacuum-cleaner hero__icon hero__icon3"></i>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2 class="breadcrumb-title">{{product.title}}</h2>
                            <div class="breadcrumb-menu">
                                <nav class="breadcrumb-trail breadcrumbs">
                                    <ul class="trail-items">
                                        <li class="trail-item trail-begin"><a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li class="trail-item trail-end"><a href="{% url 'products' %}">Products</a>
                                        </li>
                                        <li class="trail-item trail-end"><span>{{product.title}}</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end here -->

        <!-- project details area start here -->
        <section class="project-details-area pt-10 pb-30">
            <div class="container justify-content-center">
                <div class="pr-sect row align-items-center mt-40 mb-40 text-justify">
                {% for detail in details %}
                {% if detail.align_image == "LEFT" %}
                    <div class="col-xl-6 col-lg-6 mt-40 mb-40">
                        <div class="project--details__img mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <img data-src="{{detail.image.url}}" class="lazy img-fluid mx-auto d-block" alt="{{detail.heading}}" width="400px", height="400px">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mt-40 mb-40">
                        <div class="project-description wow fadeInUp" data-wow-delay=".9s">
                            <h4 class="service-details-subtitle mb-20">{{detail.heading}}</h4>
                            {{detail.description|safe}}
                        </div>
                    </div>
                {% else %}
                    <div class="col-xl-6 col-lg-6 mt-40 mb-40">
                        <div class="project-description wow fadeInUp" data-wow-delay=".9s">
                            <h4 class="service-details-subtitle mb-20">{{detail.heading}}</h4>
                            {{detail.description|safe}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mt-40 mb-40">
                        <div class="project--details__img mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <img data-src="{{detail.image.url}}" class="lazy img-fluid mx-auto d-block" alt="{{detail.heading}}" width="400px", height="400px">
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
        <!-- project details area end here -->
        {% if related_products %}
        <section class="blog-area pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-wrapper text-center mb-70 wow fadeInUp"  data-wow-delay=".3s">
                            <h2 class="section-title">Related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in related_products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="ablog mb-105 wow fadeInUp" data-wow-delay=".3s">
                            <div class="ablog__text ablog__text--service">
                                <div>
                                    <img data-src="{{product.image.url}}" class="lazy img-fluid thumbnail h-35" alt="{{product.title}}" width="100%">
                                </div>
                                <h4 class="ablog__text--title"><a href="{% url 'product_detail' product.slug %}">{{product.title}}</a></h4>
                                <p>{{ product.description|truncatechars:200 }}</p>
                                <div class="ablog__btn">
                                    <a href="{% url 'product_detail' product.slug %}" class="theme-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        
        <!-- newsletter area start here -->
        <section class="newsletter-area-3 wow fadeInUp mb-30" data-wow-delay=".5s">
            <div>
                <div class="news__service black-soft-bg text-center pt-30 pb-30">
                    <div class="section-title-wrapper mb-50">
                        <h2 class="section-title text-white">If you like our product. Feel free to contact us</h2>
                    </div>
                    <div class="news__service--number">
                        <div class="news__service--number__icon">
                            <img data-src="{% static 'img/icon/subs-icon-1.png' %}" class="lazy img-fluid" alt="img">
                        </div>
                        <div class="news__service--number__btn">
                            <a href="tel:{{information.phone_2}}" class="theme-btn">{{information.phone}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}

{% block phone %}
<h4><a href="tel:{{information.phone}}">{{information.phone}}</a></h4>
{% endblock phone %}
{% block faddress %}
<div class="col-lg-3 col-sm-6">
    <div class="footer__widget mb-30 pl-30 wow fadeInUp" data-wow-delay=".9s">
        <h4 class="footer__widget--title">Contact Info</h4>
        <ul class="widget__contact">
            <li></li>
            <li><span>Support:</span><a href="tel:{{information.phone_2}}">{{information.phone_2}}</a></li>
            <li><span>Email:</span> <a
                    href="mailto:{{information.email}}"><span
                        class="__cf_email__"
                        data-cfemail="cba2a5ada48baaa2b9bda2a8aef9ffe5a8a4a6">{{information.email}}</span></a>
            </li>
        </ul>
    </div>
</div>
{% endblock faddress %}
{% block footer-socials %}
<a href="{{information.facebook}}"><i class="fab fa-facebook-f"></i></a>
<a href="{{information.twitter}}"><i class="fab fa-twitter"></i></a>
<a href="{{information.instagram}}"><i class="fab fa-instagram"></i></a>
<a href="{{information.linkedin}}"><i class="fab fa-linkedin"></i></a>

{% endblock footer-socials %}
